.nav_handle {
  border: none;
  padding: 0;
  outline: none;
  font-weight: 500;
  padding: 0.6rem 0.6rem;
  border-radius: 100px;
  margin: 0;
}
.sticky-wrapper.is-sticky .menu-container {
  background-color: #fff;
  padding: 1rem 0;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23) !important;
}

.sticky-wrapper.is-sticky .menu-container .nav-brand img {
  height: auto;
  width: 150px;
}

.menu-container {
  padding: 1rem 0 1rem 0;
  transition: all 400ms ease-in-out;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.85);
}

.side-info li:first-child a {
  border: 1.5px solid #051033;
  color: #051033 !important;
}

.side-info li a {
  display: block;
  font-size: 16px;
  text-align: center;
  padding: 1rem !important;
  font-weight: 500;
  border-radius: 100px;
  color: #ffffff !important;
}

.navigation {
  padding: 2rem 2rem 2rem 2rem;
}

.navigation li {
  margin-bottom: 0;
}
.list-head {
  padding: 25px 5px 5px 5px;
  color: #ee1e2c;
  text-transform: uppercase;
  font-size: 16px;
}

.navigation .main-nav li a {
  font-family: "Montserrat", sans-serif;
  color: #40b6f7;
  font-weight: 700;
  padding: 8px 5px;
  display: block;
  font-size: 16px;
  text-transform: uppercase;
  font-display: swap;
}

.navigation .main-nav li a:hover {
  color: #333333;
}

.navigation .nav-brand-side {
  display: none;
  padding: 25px;
  margin-bottom: 10px;
}
.nav_content button {
  font-size: 30px;
  background: transparent;
}
/* @media (min-width: 992px) {
  .menu-container,
  .sticky-wrapper.is-sticky .menu-container {
    padding-bottom: 8px;
  }
} */
.sidebar-nav a {
  font-style: normal;
  font-weight: bold !important;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #404040 !important;
}
@media (max-width: 767.98px) {
  .nav_content button {
    font-size: 30px;
    background: transparent;
    border: 0;
  }
}
